@layer base {
    :root {
        --base-size: 1rem;
        --scale: 1.25;
        --h1: calc(var(--h2) * var(--scale));
        --h2: calc(var(--h3) * var(--scale));
        --h3: calc(var(--h4) * var(--scale));
        --h4: calc(var(--h5) * var(--scale));
        --h5: calc(var(--h6) * var(--scale));
        --h6: var(--base-size);

        /* Colors */
        --bgMain: #072b11;
        --primary-dark: #333333;
        --primary-light: #305764;
        --accent: #623543;
        --secondary-accent: #4A90E2;
        --text-dark: #333333;
        --text-light: whitesmoke;
        --border: #195b2b;
        --lightgreen: rgb(24, 110, 24);
        --lightgray: lightgray;
        --aquamarine: aquamarine;

        /* Fonts */
        --sans-serif: "Poppins", sans-serif;
    }

      h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            /* margin: 3rem 0 1.38rem; */
            font-weight: 300;
            line-height: 1.3;
        }
        
        h1, .h1 {
            font-size: var(--h1);
            margin-top: 20px;
        }
        
        h2, .h2 {
            font-size: var(--h2);
        }
        
        h3, .h3 {
            font-size: var(--h3);
        }
        
        h4, .h4 {
            font-size: var(--h4);
        }
        
        h5, .h5 {
            font-size: var(--h5);
        }
        
        h6, .h6 {
            font-size: var(--h6);
        }



      html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: monospace;
        font-size: large;
        height: 100vh;
        margin: 0;
        background-color: var(--bgMain);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden; 
    }
}


#pitch-display, #target-pitch-display, #score-display {
    font-size: 1.5rem;
    margin-top: 10px;
}

canvas {
    border: 1px solid var(--accent);
    margin-top: 20px;
}

#start-btn {
    height: 3rem;
    width: 7rem;
    background-color: var(--aquamarine);
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}

#start-btn:hover {
    background-color: var(--lightgreen);
}
.nav-item.activeMenu {
    font-weight: bold;
    color: var(--aquamarine); /* Adjust to your theme color */
    border-bottom: 2px solid var(--aquamarine);
}

.navbar {
    background-color: var(--primary-dark);
    opacity: 0.49;
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-item {
    color: var(--text-light);
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}

.nav-item:hover {
    background-color: var(--lightgray);
    color: var(--text-dark);
    transition: background-color 0.3s;
}

.navbar .nav-item:first-child {
    margin-right: auto;
}


.register-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, var(--border), var(--bgMain));
    border: none;
    color: var(--text-light);
    font-size: 18px;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    opacity: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.6s ease, opacity 1s ease, background 3.6s ease, width 0.6s ease 0.4s, color 0.6s ease 0.1s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-btn.disabled {
    background: linear-gradient(45deg, var(--border), var(--bgMain));
    color: var(--text-dark);
    width: 120px; 
    padding: 12px 20px;
    opacity:50%;
    cursor: not-allowed; 
}

.register-btn::before {
    content: '♪';
    font-size: 24px;
    margin-right: 10px;
    color: rgba(218, 220, 218, 0.9);
    transition: transform 0.4s ease 0.2s;
}


.register-btn:hover {
    background: linear-gradient(45deg, var(--border), var(--secondary-accent));
    transform: scale(1.08);
}
.register-btn.disabled:hover {
    background: linear-gradient(45deg, var(--primary-dark), var(--bgMain));
    transform: scale(0.78);
}


.register-btn:hover::before {
    transform: rotate(20deg) scale(1.2);
}


.register-btn::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(18, 135, 63, 0.2);
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 1;
    border-radius: 50%;
}

.register-btn:hover::after {
    opacity: 1;
}


.cont{
    color: var(--text-light);
    background-color: var(--primary-dark);
    margin: 0.3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration {
    height: 34vh;
    width: 90vw;
    position: relative;
    border-radius: 10px;
    max-width: 690px;
}
.registration > * {
    width: 80%;
    margin: 3px;
}
/* .registration button {
    margin-top: 2rem;
    height: 3rem;
} */


.regAlert {
    position: absolute;
    background-color: var(--primary-light);
    width: 90%;
    /* height: 4rem; */
    top: 5%;
    z-index: 30;
    height: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    overflow: hidden;
    border-radius: 18px;
    transition: top 2s ease, height 1s ease 0.2s;
}
.regAlert.down{
    top: 95%;
    height: 60%;

}
.regAlert p {
    /* background-color: rgba(255, 0, 0, 0.324); */
    width: 87%;
    border-radius: 20px;
    padding: 2px;
    background-color: var(--accent);
    text-align: center;
    transition: background-color 0.6s ease, width 0.3s ease 0.1s;
}
.regAlert p.valid{
    background-color: var(--border);
    width: 110%;
}
.regLoadingBar {
    position: absolute;
    top: -17px;
    width: 80%;
    height: 30px;
    background-color: var(--lightgray);
}
.borderMain {
    border: 2px solid var(--border);
  
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
}

#regStartBtn {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: var(--secondary-accent);
    color: var(--text-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.5s ease, height 0.5s ease, padding 0.5s ease, margin-top 0.5s ease; /* Smooth transition for multiple properties */
}
#regStartBtn.hidden {
    margin-top: 0px;
    opacity: 0; /* Fade out */
    height: 0; /* Shrink the height */
    padding: 0; /* Remove padding */
    overflow: hidden; /* Hide the button's content during the shrinking */
    pointer-events: none; /* Disable click after hiding */
}

main {
    /* opacity: 0; */
    /* transition: opactity 0.4s ease; */
    /* display: flex; */
    /* height: 100%; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0;
    
}

.menu {
    width: 80vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
    border: 2px solid var(--border);
    border-radius: 18px;

}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}

.options button {
    background: linear-gradient(45deg, var(--border), var(--bgMain));
    color: var(--text-light);
    border: none;
    border-radius: 8px;
    width: 70%;
    height: 22vh;
    padding: 3px;
    font-size: larger;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* Add a hover effect with a gradient reversal for a more interactive feel */
.options button:hover {
    background: linear-gradient(45deg, var(--border), var(--primary-light));
    transform: scale(1.08);
}

/* Active state to provide feedback when the button is clicked */
.options button:active {
    transform: scale(0.98);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.options {
    /* background-color: var(--primary-light); */
    width: 50%;
    height: 100%;
}
#menuHeader {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusts for content alignment */
    padding: 10px 20px; /* Adds padding for a cleaner look */
    margin-bottom: 12rem;
    z-index: 10; /* Ensures it stays above other content */
}
.info {
    margin-right: 2.5rem;
    border-radius: 17px;
    background-color: var(--primary-light);
    width: 50%;
    height: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}



.game{
    position: relative;
    z-index: 1;
    display: flex;
    height: 100%;
    /* width: 87vw; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
}
.game .adminPanel{
    position: absolute;
    top: -10px;
    right: 0px;
    height: 17vh;
    width: 290px;
    background-color: rgba(2, 13, 16, 0.82);
}
.game .bottomDisplay {
    height: 85vh;
    width: 95%;
    background-color: rgba(58, 97, 110, 0.839);
}
.topSection {
    width: 100%;
    background-color: var(--secondary-accent);
}

.listen{
    z-index: 5;
}

.splash {
    /* display: none; */
    background-color: var(--bgMain);
    position: fixed;
    padding: 2rem;
    z-index: 100;
    
    
    /* Centering the splash screen */
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Moves it to the exact center */
    transition: opacity 1s ease;
}
.splash button {
    font-size: 3rem;
    padding: 4px;
    background-color: rgba(17, 148, 192, 0.68);
    margin: 5px;
}

.score {
    display: grid;
    position: absolute;
    top: 25px;
    left: 35px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
    justify-items: center;
    text-align: center;
    background-color: var(--secondary-accent);
}

.score h3 {
    margin: 0;
    font-size: 1.2rem;
}

.score h2 {
    margin: 0;
    font-size: 2rem;
    color: var(--primary-dark);
}
#scoreSplash {
    display:none;
    opacity: 0%;
    flex-direction: column;
    position: absolute;
    top: 18%;
    left: 50%;
    padding: 50px;
    font-size: xx-large;
    transform: translate(-50%, -50%);  /* Moves it to the exact center */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    text-align: center;
    background-color: var(--secondary-accent);
    z-index: 999;

    transition: opacity 0.7s ease;
}

#roundResultSplash {
    display: none;
    opacity: 0%;
    flex-direction: column;
    position: absolute;
    top: 18%;
    left: 50%;
    padding: 50px;
    font-size: xx-large;
    transform: translate(-50%, -50%);  /* Moves it to the exact center */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    justify-items: center;
    text-align: center;
    background-color: var(--secondary-accent);
    z-index: 999;

    transition: opacity 0.7s ease;
}

pitch-canvas{
    position: sticky;
    top: 3rem;
}

.dash {
    display: flex;
    position: relative;
    background-color: #6696a581;
    width: 90vw;
    height: 90vh;
    margin-top: 40px;

    border: 3px solid #041308;
}

.showAccountBtn{
    position: absolute;
    top: -2px;
    left: 10px;
}

.leftContainer{
    flex-grow: 2;
}
.leftContainer > * {
    height: 50%;
}

.gamesHistory, .leveList{
    display: flex;
    flex-direction: column;

    border: 3px solid #041308;
}
.gamesHistory{
    overflow-y: auto;
    max-height: 97%;
    min-width: 12rem;
    height: 100%;

    border: 3px solid #041308;
}
.screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
}

.dashDisplay{
    color: wheat;
    display: flex;

    border: 3px solid #041308;
}
.metersDiv{
    display: flex;
    gap: 3rem
}
.infoDash{
    display: flex;
    width: 100%;
}
.gameDetails{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.gameInfo{
    border: 3px solid #041308;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(17, 148, 192, 0.49);
}
.historyMenu {
    display: flex;
}
.historyMenu button {
    width: 50%;
    height: 2.4rem;
}

.historyLvlBtn {
    padding: 5px;
    margin: 4px;
}


.historyLevels {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out; /* Smooth transition */
}

#scoreBar {
    transition: height 0.9s ease-in-out;
}

.registration img{
    z-index: -34;
    height: 8rem;
    width: auto;
    position: absolute;

    /* animation: spin 3s linear infinite; */
}
#reel1{
    left: -5rem;
    top: 2rem;
}
#reel2{
    right: -5rem;
    top: 2rem;
}
#reel3{
    left: -5rem;
    bottom: 2rem;
}
#reel4{
    right: -5rem;
    bottom: 2rem;
}







@keyframes spin {
    from {
        transform: rotate(0deg); /* Start at 0 degrees */
    }
    to {
        transform: rotate(360deg); /* Rotate a full circle */
    }
}
